/*
  File: /~dmarsine/css/table.css

  Author: Dean Marsinelli
  Contact: marsinellid@gmail.com
  Created on: October 22, 2014
  Updated on: November 24, 2014
  This file styles the dynamic table for Assignments 6 and 8.
*/

/* float the text for the form left */
#left {
  margin-left: 30px;
  float: left;
  width: 120px;
}

/* float the form inputs to the right of the text */
#right {
  float: right;
  width: 580px;
}

/* styles the asterisks to show the user which input is invalid */
span[id^="error"] {
  color: red;
}

/* styles the error message if there is invalid input */
#errorMessage {
  color: red;
  font-size: small;
}

/* set the overflow for the jQuery tab table */
div[id^="tab"] {
  overflow: auto;
}
#myTabs {
  margin-top: 260px;
}

/* set the color for the error messages for assignment 8 */
label.error {
  padding-left: 10px;
  color: red;
}
/* moves the submit and clear buttons closer together */
#sub {
  margin-bottom: 0px;
}
#clear {
  margin-top: 5px;
}

/* sets the table div under the form */
#table {
  overflow: auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 710px;
  clear: both;  /* clear the floated content, place the div underneath */
}

/* collapse borders for the entire table */
table {
   border-collapse: collapse;
}

/* sets propertied for each table data cell */
td {
  background-color: #efe5d0;
  width: 20px;
  border: 1px solid #675c47;
  text-align: center;
}

/* styles the top row of the table */
.topRow {
  border: 1px solid #675c47;
  border-bottom: 1px solid #675c47;   /* dark brown */
  color: white;
  background-color: #675c47;	/* dark brown */
}

/* styles the first column on the left side of the table */
tr td:first-child {
  border: 1px solid #675c47;
  border-right: 1px solid #675c47;   /* dark brown */
  color: white;
  background-color: #675c47;	/* dark brown */
}

/* this styles the top left cell only */
tbody tr:first-child td:first-child {
  background-color: #675c47;   /* dark brown */
  border: 1px solid #675c47; 
}
